<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<form method="POST" th:object="${produto}"
		th:action="@{/produto/salvar}">

		<input type="hidden" th:field="*{id_produto}" />

		<div>
			<label for="nome">Nome:</label> <input type="text" id="nome"
				th:field="*{nome_produto}" />
		</div>
		<div>
			<label for="tamanho">tamanho:</label> <input type="text"
				id="tamanho" th:field="*{tamanho_produto}" />
		</div>
		<button type="submit" class="btn btn-primary">Salvar</button>
	</form>
</body>
</html>