<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<form "/pagina-processa-dados-do-form" method="post">
    
    <div>
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" />
    </div>
    <div>
        <label for="valor">Valor:</label>
        <input type="text" id="valor" />
    </div>
   <div>
        <label for="quantidade">Quantidade:</label>
        <input type="text" id="quantidade" />
    </div>
</form>
</body>
</html>